accelerate==1.8.1
-e git+https://github.com/suvreal/AIGent.git@6ebb16909bcece3a5f8d9dba1497c69705b3e282#egg=ai_agent
aiohappyeyeballs==2.6.1
aiohttp==3.12.12
aiosignal==1.3.2
annotated-types==0.7.0
anyio==3.7.1
asgiref==3.5.0
astroid==3.3.10
async-timeout==4.0.3
attrs==25.3.0
backports.tarfile==1.2.0
beautifulsoup4==4.13.4
black==25.1.0
blinker==1.9.0
Brlapi==0.8.3
build==1.2.2.post1
CacheControl==0.14.3
cachetools==6.1.0
certifi==2020.6.20
cffi==1.17.1
cfgv==3.4.0
chardet==4.0.0
charset-normalizer==3.4.2
chrome-gnome-shell==0.0.0
cleo==2.1.0
click==8.2.1
colorama==0.4.4
command-not-found==0.3
crashtest==0.4.1
cryptography==45.0.4
cupshelpers==1.0
dataclasses-json==0.6.7
datasets==3.6.0
dbus-python==1.2.18
defer==1.0.6
Deprecated==1.2.18
dill==0.3.8
dirtyjson==1.0.8
distlib==0.3.9
distro==1.7.0
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
dulwich==0.22.8
exceptiongroup==1.3.0
faiss-cpu==1.11.0
fastapi==0.110.0
fastjsonschema==2.21.1
filelock==3.18.0
findpython==0.6.3
Flask==3.1.1
frozenlist==1.7.0
fsspec==2025.3.0
greenlet==3.2.3
grpcio==1.73.1
gyp==0.1
h11==0.16.0
h2==4.2.0
hf-xet==1.1.3
hidpidaemon==18.4.6
hpack==4.1.0
httpcore==1.0.9
httplib2==0.20.2
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.33.0
hyperframe==6.1.0
identify==2.6.12
idna==3.3
importlib_metadata==8.7.0
iniconfig==2.1.0
installer==0.7.0
isort==6.0.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.7.1
Jinja2==3.1.3
jiter==0.10.0
joblib==1.5.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==3.2.0
kernelstub==3.1.4
keyring==25.6.0
langchain==0.3.25
langchain-community==0.3.25
langchain-core==0.3.65
langchain-text-splitters==0.3.8
langsmith==0.3.45
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
llama-index==0.10.30
llama-index-agent-openai==0.2.9
llama-index-cli==0.1.13
llama-index-core==0.10.68.post1
llama-index-embeddings-openai==0.1.11
llama-index-indices-managed-llama-cloud==0.1.6
llama-index-legacy==0.9.48.post4
llama-index-llms-openai==0.1.31
llama-index-multi-modal-llms-openai==0.1.9
llama-index-program-openai==0.1.7
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.33
llama-index-readers-llama-parse==0.1.6
llama-parse==0.4.9
llamaindex-py-client==0.1.19
louis==3.20.0
lxml==5.4.0
macaroonbakery==1.3.1
mando==0.7.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mccabe==0.7.0
mdurl==0.1.2
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.4.4
multiprocess==0.70.16
MyApplication==0.1.0
mypy_extensions==1.1.0
mysql-connector-python==9.3.0
nest-asyncio==1.6.0
netaddr==0.8.0
netifaces==0.11.0
networkx==3.4.2
nltk==3.9.1
nodeenv==1.9.1
numpy==1.26.4
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
oauthlib==3.2.0
ollama==0.5.1
openai==1.93.0
openapi-python-client==0.25.2
orjson==3.10.18
packaging==24.2
pandas==2.3.0
pathspec==0.12.1
pbs-installer==2025.6.12
pdfminer.six==20250506
peft==0.16.0
pillow==11.2.1
pip-tools==7.4.1
pkginfo==1.12.1.2
platformdirs==4.3.8
pluggy==1.6.0
poetry==2.1.3
poetry-core==2.1.3
pop-transition==1.1.2
portalocker==2.10.1
pre_commit==4.2.0
propcache==0.3.2
protobuf==6.31.1
psutil==7.0.0
-e git+https://github.com/suvreal/PyDkGenerated.git@ed95fe5125e4a62c36251c452225d9fab24b9fbb#egg=py_dk_generated
pyarrow==20.0.0
pycairo==1.20.1
pycparser==2.22
pycups==2.0.1
pydantic==2.11.7
pydantic-settings==2.9.1
pydantic_core==2.33.2
pydbus==0.6.0
Pygments==2.19.2
PyGObject==3.42.1
PyJWT==2.3.0
pylint==3.3.7
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pypdf==4.3.1
pyproject_hooks==1.2.0
pyRFC3339==1.1
pyrsistent==0.18.1
pytest==8.4.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-docx==1.2.0
python-dotenv==1.1.0
python-exercise-client @ file:///home/svrl/Documents/OpenAPIGeneratorPy/python-exercise-client
python-gnupg==0.4.8
python-xlib==0.29
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.1
qdrant-client==1.14.3
radon==6.0.1
RapidFuzz==3.13.0
regex==2024.11.6
repolib==2.2.1
repoman==1.4.0
requests==2.32.4
requests-toolbelt==1.0.0
rich==14.0.0
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
ruff==0.12.3
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.15.3
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
sentence-transformers==4.1.0
sessioninstaller==0.0.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
starlette==0.36.3
striprtf==0.0.26
sympy==1.14.0
systemd-python==234
tenacity==8.5.0
texttable==1.6.4
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.21.1
tomli==2.2.1
tomlkit==0.13.3
torch==2.7.1
tqdm==4.67.1
transformers==4.52.4
triton==3.3.1
trl==0.19.0
trove-classifiers==2025.5.9.12
typer==0.16.0
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
ubuntu-drivers-common==0.0.0
ufw==0.36.1
urllib3==2.5.0
uvicorn==0.27.1
uvloop==0.21.0
virtualenv==20.31.2
wadllib==1.3.6
watchfiles==1.1.0
watchgod==0.8.2
websocket-client==1.2.3
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.0.0
xdg==5
xenon==0.9.3
xkit==0.0.0
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
zstandard==0.23.0

aiosqlite~=0.21.0
pip~=25.1.1
wheel~=0.37.1
setuptools~=59.6.0